<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
    @vite('resources/js/app.js')
    @vite('resources/js/app.css')
  </head>
  <body>    
    @include('components/layouts/partials/header')
    
    {{{ await $slots.main() }}}
  </body>
</html>