<!DOCTYPE html>
<html>
  <head>
    <title>WB Supplements</title>
    <link rel="shortcut icon" href="{{ asset('resources/views/images/WB_gorilla-removebg-preview.png') }}" type="image/x-icon">
    @vite(['resources/js/app.js', 'resources/css/app.css'])

  </head>
  <body>
      <div>
        @include('components/layouts/partials/header')

        <div>
          {{{ await $slots.main() }}}
        </div>
      </div>
    </section>
  </body>
</html>