@!component('components/layouts/app.edge')
<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
    <nav>
      <a>avaliação enviada!!</a>
    </nav>
    <main>
      
    </main>
  </body>
</html>