<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
    <nav>
      <a>crie o produto</a>
    </nav>
    <main>
        <form action="/mlivre">
            <div>
                Nome Completo:<input type="text" name="product" placeholder="nome do produto">
            </div>
        </form>
        <a href="{{ route('page_new_product_modify') }}"> criar personalizado</a>
        <a href="/">cancelar</a>
    </main>
  </body>
</html>