@!component('components/layouts/app.edge')
<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
    <nav>
      <a></a>
    </nav>
    <main>
      <div>
        Lista de Produtos
      </div>
      <div>
        @each(product in products)
        <!--div>Produto A</div-->
          <li>
           <a href="{{ route('product_type') }}?type={{ product }}"> {{product}}</a>
          </li>
        @end
      </div>
    </main>
  </body>
</html>
