<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>
    <main>
        <form id = 'form' action="{{ route('user_login') }}" method="POST">
            <div>
                ussuario:<input type="email" name="email" placeholder="seu nome completo">
            </div>
            <div>
                Senha:<input type="password" name="password" placeholder="sua senha completo">
            </div>
            <div>
              @if(check == false)
              {
                usuário não encontrado, digite novamente
              }
              @endif
            </div>
            <div>
                <button type="submit">enviar</button>
            </div>
        </form>

        <script>
            document.getElementById('form').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                }
            })
        </script>
    </main>
  </body>
</html>