@!component('components/layouts/app.edge')
<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
    @each(id in videoID)
    <iframe width="266" height="266" src="https://www.youtube.com/embed/{{ id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    @end

  </body>
</html>
