@!component('components/layouts/app.edge')
<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
    <nav>
      <a>Produtos</a>
    </nav>
    <main>
      <div>
        Lsita de Produtos
      </div>
      <div>
        <div>Produto A</div>
        @each(product in products)
          <li>
           <a href="#">{{product.name}}</a>
          </li>
        @end
      </div>
    </main>
  </body>
</html>
