<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>  
  </head>
  <body>    
      <form action="/yt" method="GET">
        <input name="video" type="text" placeholder="digite o nome do produto...">
        <div>
            <button> confirmar</button>
        </div>
    </form>
  </body>
</html>
